<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="javascript" color="tertiary"
               style="--background: var(--ion-color-medium)" value="subjects">
    <ion-segment-button value="timetable" style="color: var(--ion-light-text)">
      <ion-label>Stundenplan</ion-label>
    </ion-segment-button>
    <ion-segment-button value="days" style="color: var(--ion-light-text)">
      <ion-label>Tage</ion-label>
    </ion-segment-button>
    <ion-segment-button value="subjects" style="color: var(--ion-light-text)">
      <ion-label>Fächer</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'timetable'" style="color: var(--ion-light-text);"></div>
  <div *ngIf="segment === 'days'" style="color: var(--ion-light-text);"></div>
  <div *ngIf="segment === 'subjects'" style="color: var(--ion-light-text); padding-inline: 1rem">
    <ion-searchbar color="light" (ionInput)="searchSubjects($event)" id="searchSubjects"></ion-searchbar>
    <ion-list>
      <ion-card *ngFor="let s of filteredSubjectKeys" style="background: {{subjects[s].color}};">
        <ion-card-header>
          <ion-card-title style="color: {{contrastColor(subjects[s].color)}};">
            {{subjects[s].name}}
            <ion-badge color="light" mode="ios">{{subjects[s].abbr}}</ion-badge>
            <ion-badge color="light" mode="ios">{{subjects[s].teacher}}</ion-badge>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
