<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" color="tertiary"
               style="--background: var(--ion-color-medium)" value="subjects" mode="md" slot="fixed">
    <ion-segment-button value="timetable" style="color: var(--ion-light-text)">
      <ion-label>Stundenplan</ion-label>
    </ion-segment-button>
    <ion-segment-button value="days" style="color: var(--ion-light-text)">
      <ion-label>Tage</ion-label>
    </ion-segment-button>
    <ion-segment-button value="subjects" style="color: var(--ion-light-text)">
      <ion-label>Fächer</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'timetable'"
       style="color: var(--ion-light-text); margin-bottom: 3.5rem; margin-top: 3.5rem">
    <ion-grid style="text-align: center">
      <ion-row style="background: var(--ion-color-tertiary)">
        <ion-col>
          <ion-label>Mo</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Di</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Mi</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Do</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Fr</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let e of maxSlotKeys" style="margin-bottom: .1rem">
        <ion-col *ngFor="let d of eventDayKeys"
                 style="background: {{subjects[events[d][eventKeys[d][e]]?.subject]?.color}}26">
          {{subjects[events[d][eventKeys[d][e]]?.subject]?.abbr}} <br *ngIf="!events[d][eventKeys[d][e]]?.break">
          <span *ngIf="!events[d][eventKeys[d][e]]?.break && events[d][eventKeys[d][e]]?.slot && showTime"
                style="font-size: .5rem;">
            {{events[d][eventKeys[d][e]]?.start}} -
            {{events[d][eventKeys[d][e]]?.end}}
          </span>
          <span *ngIf="events[d][eventKeys[d][e]]?.break">Pause</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab style="right: 1rem; bottom: 3.5rem; position: fixed">
      <ion-fab-button (click)="showTime = !showTime">
        <ion-icon name="toggle" style="transform: {{showTime ? 'rotate(0)' : 'rotate(180deg)'}}"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <div *ngIf="segment === 'days'"
       style="color: var(--ion-light-text); padding-inline: 1rem; margin-bottom: 3.5rem; margin-top: 3.5rem">
    <ion-card style="margin-inline: 0">
      <ion-accordion-group mode="ios">
        <ion-accordion [value]="day" mode="ios" *ngFor="let day of eventDayKeys">
          <ion-item slot="header" mode="ios">
            <ion-label mode="ios">{{eventDays[day]}}</ion-label>
          </ion-item>

          <div slot="content">
            <ion-reorder-group mode="ios"
                               style=" text-align: center; background: var(--ion-color-tertiary);"
                               disabled="false" (ionItemReorder)="reorder($event, day)">
              <ion-item *ngFor="let e of eventKeys[day]" lines="none"
                        style="height: {{events[day][e].break ? '2rem' : 'fit-content'}}; margin-bottom: {{eventKeys[day].slice(-1) == e ? '0.4rem' : '0'}}"
                        class="{{day}}-order" [id]="e">
                <ion-icon name="trash" style=" vertical-align: middle; font-size: 1.4rem" (click)="deleteEvent(day, e)">
                </ion-icon>
                <app-timetable-day-timeslot
                  style="width: 100%"
                  [event]="events[day][e]"
                  [subjects]="subjects"
                  [homework]="{}"
                  *ngIf="!events[day][e].break"
                  opacity="ff"
                  editable="true"
                ></app-timetable-day-timeslot>
                <div *ngIf="events[day][e].break"
                     style="background: var(--ion-color-medium); width: 100%; color: var(--ion-light-text); vertical-align: middle">
                  Pause
                </div>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>
            <ion-button color="success" mode="md" style="margin-bottom: .4rem; margin-inline: 1rem" reorder="false"
                        expand="block"
                        (click)="addTimeslot(day)">
              Hinzufügen
            </ion-button>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </div>
  <div *ngIf="segment === 'subjects'"
       style="color: var(--ion-light-text); padding-inline: 1rem; margin-bottom: 3.5rem; margin-top: 3rem">
    <ion-searchbar color="light" (ionInput)="searchSubjects()" id="searchSubjects"
                   style="padding-inline: 0; padding-bottom: 0"></ion-searchbar>
    <ion-button color="danger" *ngIf="selectedSubjects.length > 0" (click)="deleteSubjects()">
      <ion-icon name="trash" style="color: var(--ion-color-tertiary-contrast); margin-right: 1rem"></ion-icon>
      Löschen
    </ion-button>
    <ion-list style="padding-top: 0">
      <div *ngFor="let s of filteredSubjectKeys | unique" (click)="toggleSubjectSelection(s)">
        <ion-row>
          <ion-col size="auto" style="display: flex; align-items: center; padding: 0"
                   *ngIf="selectedSubjects.length > 0">
            <ion-checkbox color="light" style="--border-color: var(--ion-color-light)"
                          [checked]="selectedSubjects.includes(s)"></ion-checkbox>
          </ion-col>
          <ion-col style="padding: 0 0 0 {{selectedSubjects.length > 0 ? '1rem' : '0'}};">
            <ion-card style="background: {{subjects[s].color}}; margin-inline:0">
              <ion-card-header>
                <ion-card-title style="color: {{contrastColor(subjects[s].color)}};">
                  {{subjects[s].name}}
                  <ion-badge color="light" mode="ios">{{subjects[s].abbr}}</ion-badge>
                  <ion-badge color="light" mode="ios">{{subjects[s].teacher}}</ion-badge>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <ion-fab style="right: 1rem; bottom: 3.5rem; position: fixed">
      <ion-fab-button color="light" (click)="addSubject()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
