.info-card {
  background: white;
  border-radius: .5rem 1.8rem .5rem 1.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-inline: 0.4rem;
  margin-bottom: 1rem;
  &.icon {
    border-radius: .5rem 1.1rem .5rem 1.1rem;
    padding-inline: 0.1rem;
  }
}

.gradient-danger {
  background: var(--ion-color-danger);
  background: linear-gradient(90deg, var(--ion-color-danger) 0%, rgba(255,255,255,1) 35%);
}

.gradient-success {
  background: var(--ion-color-success);
  background: linear-gradient(90deg, var(--ion-color-success) 0%, rgba(255,255,255,1) 35%);
}

.gradient-warning {
  background: var(--ion-color-warning);
  background: linear-gradient(90deg, var(--ion-color-warning) 0%, rgba(255,255,255,1) 35%);
}

.full-danger {
  background: var(--ion-color-danger);
  color: white;
}
