.timetable-day {
  color: white;
  margin-bottom: 3rem;
  .timetable-day-header {
    border-bottom: var(--ion-color-light) solid 1px;
    font-weight: 400;
    font-size: 1.2rem;
    top: -2.6rem;
    padding-bottom: -3.5rem;
    background: linear-gradient(#232323 80%, rgba(35, 35, 35, 0.63) 90%, rgba(0, 0, 0, 0) 100%);
    span {
      font-size: 0.8rem;
      color: var(--ion-light-text);
    }
    z-index: 9999;
    position: sticky;

  }
  .timetable-day-body {
    margin: -0.25rem;
    .timetable-day-timeslot {
      .timetable-day-timeslot-startend {
        font-size: 0.8rem;
        color: var(--ion-light-text);
      }
      .timetable-day-timeslot-info {
        padding-top: 0;
        .timetable-day-timeslot-label {
          font-size: 1.1rem
        }
      }
      background: var(--bg);
      &.shortbreak {
        height: .2rem;
        background: var(--ion-color-light);
      }
      &.longbreak {
        height: .8rem;
        background: var(--ion-color-light);
      }
      margin-top: .2rem;
    }
  }
}
