.timetable-day-timeslot {
  .timetable-day-timeslot-startend {
    font-size: 0.8rem;
    color: var(--ion-light-text);
  }
  .timetable-day-timeslot-info {
    padding-top: 0;
    .timetable-day-timeslot-label {
      font-size: 1.1rem
    }
  }
  background: var(--bg);
  &.shortbreak {
    height: .2rem;
    background: var(--ion-color-light);
  }
  &.longbreak {
    height: .8rem;
    background: var(--ion-color-light);
  }
  margin-top: .2rem;
}
