<ion-row class="timetable-day-timeslot"
         [class.shortbreak]="event.duration === 'SHORT'"
         [class.longbreak]="event.duration === 'LONG'"
         style="--bg: {{subjects[event?.subject]?.color}}{{opacity}}">
  <ion-col size="auto" class="timetable-day-timeslot-startend" *ngIf="!event.break" id="trigger-{{event.id}}">
    {{event.start}} - <br>
    {{event.end}}
  </ion-col>
  <ion-col class="timetable-day-timeslot-info" *ngIf="!event.break">
    <ion-label class="timetable-day-timeslot-label">
      {{subjects[event.subject].name}}
    </ion-label>
    <div class="indicator-point" color="tertiary" icon *ngIf="homework.length > 0">
      <ion-icon name="alert" *ngIf="hasUnfinishedHomework()"></ion-icon>
    </div>
    <!--<div class="indicator-point" color="secondary" important *ngIf="timeslot.classtest.length > 0">
    </div>-->
  </ion-col>
</ion-row>
<ion-popover trigger="trigger-{{event.id}}" arrow="true" *ngIf="editable">
  <ng-template style="background: #3AD2A1">
    <ion-item style="--background: var(--ion-color-light)">
      <ion-label>Start</ion-label>
      <ion-input type="time" [value]="event.start"></ion-input>
    </ion-item>
    <ion-item style="--background: var(--ion-color-light)">
      <ion-label>Ende</ion-label>
      <ion-input type="time" [value]="event.end"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="save()">Ok</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" (click)="dismiss()">Abbrechen</ion-button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-popover>
