<app-layer-card top="0" color_style="dark">
  <app-layer-card-header header_height="3.5rem" fade="fade" color_style="dark">Anstehende Aufgaben</app-layer-card-header>
  <app-layer-card-body fade_header="fade" fade_header_height="3.5rem">
    <app-info-card *ngFor="let hw of getOrderedHomework()" padding="1rem" [extraClasses]="extraClasses(getDiffDays(hw.until))">
      <ion-row>
        <ion-col style="--ion-grid-column-padding: 0; align-self: center; margin-right: 1rem" size="auto">
          <ion-checkbox color="light" style="--background: transparent" [checked]="hw.done" (ionChange)="changeStatus(hw.id, $event)"></ion-checkbox>
        </ion-col>
        <ion-col style="--ion-grid-column-padding: 0">
          <ion-label>
            {{hw.title}}
            <ion-badge style="background: {{subjects[hw.subject].color}}" mode="ios">
              {{subjects[hw.subject].abbr}}
            </ion-badge>
            <ion-badge mode="ios" color="light">
              {{getDiffDays(hw.until) > 0 ? getDiffDays(hw.until) : 'Überfällig'}} {{getDiffDays(hw.until) > 0 ? (getDiffDays(hw.until) === 1 ? 'Tag' : 'Tage') : ''}}
            </ion-badge>
            <ion-badge color="primary" mode="ios">HA</ion-badge>
          </ion-label>
          <p style="margin: 0">
            {{hw.description}}
          </p>
        </ion-col>
      </ion-row>
    </app-info-card>
  </app-layer-card-body>
</app-layer-card>
<ion-fab style="right: 1rem; bottom: 3.5rem; position: fixed">
  <ion-fab-button (click)="addHomework()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
