<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-left: 1.4rem">
      <ion-icon name="apps-outline" style="font-size: 1.3rem"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/profile">
      {{user?.displayName}}
      <ion-avatar style="vertical-align: middle; height: 2rem; width: 2rem; margin-right: 1.4rem; margin-left: 1rem">
        <img [src]="user?.imageUrl">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs mode="ios">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="overview">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="upcoming">
        <ion-icon name="hourglass"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="learn">
        <ion-icon name="school"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>


