<ion-content>
  <app-layer-card top="0rem" color_style="dark">
    <app-layer-card-header header_height="3.5rem" fade="fade" color_style="dark">Heutiger Ablauf</app-layer-card-header>
    <app-layer-card-body fade_header_height="3.5rem" fade_header="fade">
      <app-timetable-day>
        <app-timetable-day-header
          [events]="events"></app-timetable-day-header>
        <app-timetable-day-body
          [events]="events"
          [homework]="homework"
          [subjects]="subjects">
        </app-timetable-day-body>
      </app-timetable-day>
    </app-layer-card-body>
  </app-layer-card>
</ion-content>
